@use "../helpers" as *;

.position {
  padding: rem(10) rem(20);
  color: var(--color-dark-text);
  font-size: rem(18);
  border-radius: rem(15);
  background-color: #f6faff;

  &.is-important{
    background-color: #e4ecf9;
  }
}
