@use "helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--color-dark-text);
  background-color: var(--color-bg-light);
  font-weight: 400;
  background-color: var(--color-bg-light);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
}

h1,
.h1,
h2,
.h2 {
  color: var(--color-dark-title);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-dark-text);
}

h1,
.h1 {
  @include fluid-text(70, 40);
}
h2,
.h2 {
  @include fluid-text(60, 34);
}
h3,
.h3 {
  @include fluid-text(36, 26);
  color: var(--color-dark);
}
h4,
.h4 {
  @include fluid-text(24, 20);
}
h5,
.h5 {
  @include fluid-text(22, 18);
}
h6,
.h6 {
  @include fluid-text(18, 16);
}
a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}
a {
  color: inherit;
  @include hover {
    color: var(--color-accent-or);
  }
  &[class] {
    text-decoration: none;
  }
}
:focus-visible {
  outline: rem(2) dashed var(--color-dark);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;
    &::before {
      @include abs-center;
      content: "";
    }
  }
}
